<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Reportes</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">

</head>

<body>
	<!-- WRAPPER -->
	<div id="app">
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="brand">
					<a href="index.html">
						<img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo">
					</a>
				</div>
				<div class="container-fluid">
					<div class="navbar-btn">
						<button type="button" class="btn-toggle-fullwidth">
							<i class="lnr lnr-arrow-left-circle"></i>
						</button>
					</div>

					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<img src="assets/img/user.png" class="img-circle" alt="Avatar">
									<span>Samuel</span>
									<i class="icon-submenu lnr lnr-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="index.html">
											<i class="lnr lnr-exit"></i>
											<span>Salir</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar">
				<div class="sidebar-scroll">
					<nav>
						<ul class="nav">
							<li>
								<a href="user.html" class="">
									<i class="lnr lnr-user"></i>
									<span>Usuarios</span>
								</a>
							</li>
							<li>
								<a href="dashboard.html" class="active">
									<i class="lnr lnr-paperclip"></i>
									<span>Reportes</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<!-- MAIN CONTENT -->
				<div class="main-content">
					<div class="container-fluid">
						<!-- OVERVIEW -->

						<h3 class="page-title">Gestión de Reportes</h3>

						<div class="row">
							<div class="col-md-4">
								<!-- TABLE STRIPED -->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">1er Paso: </h3>
									</div>
									<div class="panel-body">

										<div class="input-group" v-for="(a,b) in showOneSelect" :key="b">
											<select class="form-control" v-model="c[b]" :disabled="showOneSelect[b]">
												<option value="0"></option>
												<option :value="item.name" v-for="(item, index) in tempMain[b]" :key="index">{{item.name}}</option>
											</select>
											<span class="input-group-btn">
												<button @click="setShowNumber(c[b])" class="btn btn-primary" type="button" :disabled="showOneSelect[b]">+</button>
											</span>
											<!--<span class="input-group-btn">
												<button v-on:click="proa" class="btn btn-primary" type="button">+</button>
											</span>-->
										</div>

										<br>
										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4">
												<button @click="nextTwo" class="btn btn-primary" type="button" :disabled="disabledButtonOne">Siguiente</button>
											</div>
										</div>

									</div>
								</div>
								<!-- END TABLE STRIPED -->
							</div>

							<div class="col-md-4">
								<!-- TABLE STRIPED -->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">2do Paso: </h3>
									</div>
									<div class="panel-body">

										<div class="input-group" v-for="(i,j) in showTwoSelect" :key="j">
											<select class="form-control" v-model="a[j]" :disabled="showTwoSelect[j]">
												<option :value="item" v-for="(item, index) in tempWhere" :key="index">{{item}}</option>
											</select>
											<span class="input-group-btn">
												<button @click="forceEquals(j)" class="btn btn-success" type="button" :disabled="showTwoSelect[j]"> = </button>
											</span>
											<input type="text" class="form-control" v-model="b[j]" placeholder="Resultado" :disabled="showTwoSelect[j]">
										</div>

										<br>
										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4">
												<button @click="nextThree" class="btn btn-success" type="button" :disabled="disabledButtonTwo">Siguiente</button>
											</div>
										</div>

									</div>
								</div>
								<!-- END TABLE STRIPED -->
							</div>

							<div class="col-md-4">
								<!-- TABLE STRIPED -->
								<div class="panel">
									<div class="panel-heading">
										<h3 class="panel-title">3er Paso: </h3>
									</div>
									<div class="panel-body">

										<button @click="checkAll" :disabled="disabledButtonCheckAll" class="btn btn-info" type="button">{{checkButtonAll ? 'Desmarcar Todo' : 'Marcar Todo'}}</button>
										<br>
										<br>

										<select class="form-control" multiple v-model="d" :disabled="showThreeSelect">
											<option :value="a" v-for="(a,b) in tempView" >{{a}}</option>
										</select>

										<br>
										<div class="row">
											<div class="col-md-8"></div>
											<div class="col-md-4">
												<button @click="finish" class="btn btn-warning" type="button" :disabled="disabledButtonThree">Finalizar</button>
											</div>
										</div>

									</div>
								</div>
								<!-- END TABLE STRIPED -->
							</div>
						</div>

						<!-- END OVERVIEW -->

					</div>
				</div>
				<!-- END MAIN CONTENT -->
			</div>
			<!-- END MAIN -->
			<div class="clearfix"></div>
			<footer>
				<div class="container-fluid">
					<p class="copyright">&copy; 2018 - Colombia</p>
				</div>
			</footer>
		</div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>

	<script src="js/vue.min.js"></script>

	<script>

		new Vue({
			el: '#app',
			data: {

				query: {
					main: [],
					where: [],
					view: ''
				},

				showOneSelect: [false],
				showTwoSelect: [true],
				showThreeSelect: true,
				tempMain: [],
				tempWhere: [],
				tempView: [],
				disabledButtonOne: false,
				disabledButtonTwo: true,
				disabledButtonThree: true,
				disabledButtonCheckAll: true,
				a: [],
				b: [],
				c: [],
				d: [],

				checkButtonAll: false,

				db: [
					{
						name: 'USUARIO',
						fullname: 'CR400.USUARIO',
						columns: ['ID', 'FICHA', 'NOMBRE', 'CLAVE', 'CODIGO_BARRA', 'FECHA', 'FECHA_CAMBIOCLAVE', 'HUELLA', 'ULTIMASINCRONIZACION', 'ESTREPLICA'],
						relation: ['USUARIOPERFIL-|-USUARIOPERFIL.ID_USUARIO-|-USUARIO.ID']
					},
					{
						name: 'USUARIOPERFIL',
						fullname: 'CR400.USUARIOPERFIL',
						columns: ['ID', 'ID_USUARIO', 'ID_PERFIL', 'FECHA', 'ULTIMASINCRONIZACION', 'ESTREPLICA'],
						relation: ['USUARIO-|-USUARIO.ID-|-USUARIOPERFIL.ID_USUARIO', 'PERFIL-|-PERFIL.ID-|-USUARIOPERFIL.ID_PERFIL']
					},
					{
						name: 'PERFIL',
						fullname: 'CR400.PERFIL',
						columns: ['ID', 'NOMBRE', 'FECHA', 'ESTAACTIVO', 'ULTIMASICRONIZACION', 'ESTREPLICA'],
						relation: ['USUARIOPERFIL-|-USUARIOPERFIL.ID_PERFIL-|-PERFIL.ID']
					}
				]
			},

			mounted() {
				this.tempMain.push(this.db)
			},

			methods: {

				checkAll(){
					this.showThreeSelect = !this.showThreeSelect;
					this.checkButtonAll = !this.checkButtonAll
					this.$forceUpdate();
				},

				setShowNumber(dato) {

					if (dato != '0') {

						let tempname = [];

						let temprelation = this.db.find(aux => {
							return aux.name == dato
						})

						for (let i in temprelation.relation) {
							let tempp = temprelation.relation[i].split('-|-')[0];
							let tempa = false;
							for (let j in this.c) {
								if (this.c[j] == tempp) tempa = true;
							}
							if (!tempa) tempname.push(tempp)
						}

						if (tempname.length != 0) {
							let tt = [];
							for (let i in tempname) {
								let t = this.db.find(aux => {
									return aux.name == tempname[i]
								})
								tt.push(t)
							}

							this.tempMain.push(tt);

							this.showOneSelect.push(false);
							this.showOneSelect[this.showOneSelect.length - 2] = true;
						}

						this.$forceUpdate();
					}


				},

				proa() {
					console.log(this.query.main)
					console.log(this.db.find((aux) => {
						return aux.name == 'USUARIO'
					}))

					let c = 0;
					this.showSelect.forEach(i => {
						if (i) c++;
					});

					console.log(c)
				},

				nextTwo() {

					//this.query.where = []
					this.query.main = this.c;

					for (let i in this.db) {
						for (let j in this.query.main) {
							if (this.db[i].name == this.query.main[j]) {
								for (let k in this.db[i].columns) {
									this.tempWhere.push(`${this.db[i].name}-${this.db[i].columns[k]}`)
								}
							}
						}
					}

					this.showTwoSelect[0] = false;
					this.disabledButtonOne = true;
					this.disabledButtonTwo = false;
					this.showOneSelect[this.showOneSelect.length - 1] = true;
					this.$forceUpdate();

				},

				forceEquals(j) {
					let temp = {
						name: this.a[j].split('-')[0],
						column: this.a[j].split('-')[1],
						equals: this.b[j]
					}
					this.query.where.push(temp);

					this.showTwoSelect.push(false);
					this.showTwoSelect[this.showTwoSelect.length - 2] = true;
					this.$forceUpdate();
				},

				nextThree() {
					let temp = {
						name: this.a[this.a.length - 1].split('-')[0],
						column: this.a[this.a.length - 1].split('-')[1],
						equals: this.b[this.a.length - 1]
					}
					this.query.where.push(temp);

					this.disabledButtonTwo = true;
					this.disabledButtonThree = false;

					this.showTwoSelect[this.showTwoSelect.length - 1] = true;

					for (let i in this.db) {
						for (let j in this.query.main) {
							if (this.db[i].name == this.query.main[j]) {
								for (let k in this.db[i].columns) {
									this.tempView.push(`${this.db[i].name}.${this.db[i].columns[k]}`)
								}
							}
						}
					}
					this.showThreeSelect = false;
					this.disabledButtonCheckAll = false;
					this.$forceUpdate();
					console.log(this.query)
				},



				finish(){

					if(this.checkButtonAll){
						this.query.view = '*';
					}else{
						if(this.d.length != 0){
							this.query.view = this.d.toString();
						}else{
							alert('Seleccione los datos a visualizar')
						}
						
					}
					
					console.log(this.query)

				}
			}
		})

	</script>

</body>

</html>